.blockName{
    font-weight: 700;
    font-size: 21px;
}

.profilePageAvatar{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.profilePageInfoBlock{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profilePageUserInfoBlock{
    margin-left: 25px;
}

.emptyInfoScetionProfilePage{
    font-size: 20px;
    font-weight: 600;
}

.chooseInfoTypeBlock{
    margin-right: 60px;
}

.profilePagePostsMainBlock{
    width: 100%;
}

.profilePageMainBlock{
    width: 80%;
    display: flex;
}