.blockNameProfile{
    font-weight: 700;
    font-size: 21px;
    margin: 0px 15px;
}

.profilePageAvatar{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.profilePageInfoBlock{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profilePageUserInfoBlock{
    margin-left: 25px;
}
