.NavBar{
    width: 80%;
    height: 65px;
    padding: 15px 10%;
    background-color: #6389e1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
}

.NavBar > a, .NavBar > p {
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
    color: #f0f3fc;
    margin: 0px 15px;
}

.NavBar > a:hover, .NavBar > p:hover {
    color: #3c5287;
}

.profilePicNavBar{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.announcementBlock{
    background-color: #f0f3fc;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 15%;
    margin-top: 77px;
    z-index: 1;
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid black;
}

.announcementBlockBackground{
    opacity: 0;
}

.announcementBlock::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
   
.announcementBlock::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 15px;
}

.announcementBlock::-webkit-scrollbar {
    width: 10px;
}

.announcementsName{
    font-size: 21px;
    font-weight: 700;
}
