.profilePagePersonalMainBlock{
    width: 60%;
}

.blockName{
    font-weight: 700;
    font-size: 21px;
}

.profilePageInfoBlock{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.profilePageAvatar{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.profilePageUserInfoBlock{
    margin-left: 25px;
}

@media screen and (max-width: 830px) {

    .profilePagePersonalMainBlock{
        margin-left: 15px;
    }

    .profilePagePersonalMainBlock{
        width: 90%;
    }

}